._bar {
    height: 55px;
    width: 100%;
    color: #fafafa;
    background-repeat: no-repeat;
    background-position: 50%;
}

img{
    position:relative;
    top:15px;
}

.danger {
    color: #FF4136;
}

.warning {
    color: #FF851B;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: .7rem;
}

#suggestion-area {
    border: 1px solid gainsboro;
    padding: 3px;
    margin: 3px 0;
}

#feedbackWrapper {
    max-width: 550px;
}