{% load static %}
<!DOCTYPE HTML>
<html style="height:100%;">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#da532c" />
  
    <meta name="application-name" content="GEC" />
    <title>GEC Cool English</title>
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/work.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bar.css' %}" />

</head>

<body  class="editorTs">
    {% csrf_token %}
    <div id="page" style="height:100%;">
                    <div class="_de91e2-dropZoneElement" >
                        <div class="_de91e2-dropzone">
                            <div class="_de91e2-dropzoneMiddleblock">Drop a text file here</div>
                        </div>
                    </div>
                    <div class="content fs-hide">
                        <div data-name="doc-toolbar" class="_747451-toolbar">
                            
                            <div class="_747451-item submit-btn">
                                <div id = "bar2_colr" class="_bar _ba2"></div>
                                <div class="_747451-menuBlock _747451-noWrap">
                                    <div class="_747451-toolItem _work">批改</div>
                                </div> 
                            </div>
                            
                           
                        </div>


                    <div class="_a51a502a-editor-page-editor"  >
                       
                            <div class="_af1f0d33-editor-page-scrollWrap" >
                                <div style="height:100%">
                                    
                                        <div class="editorLayout" style="height:100%;">
                                            <div id="editorWrapper" class="editorCol" >
                                                <textarea id="textarea" class="textarea" spellcheck="false" style="overflow:scroll" placeholder="Type or paste (⌘V) your text here."></textarea>
                                            </div>
                                            <div id="feedbackWrapper" class="editorCol">
                                                <div class="bold">批改建議</div>
                                                <div id="suggestion-area"><span class="small">← 按下左側勾勾取得批改建議...</span></div>
                                                <div class="bold">評分預測&nbsp;<span class="score warning"></span> </div>
                                                <div>
                                                  <p class="small">
                                                    各位使用者大家好。英文寫作是一個相當困難的技能。當然用電腦來批改作文，也有相當大的限制。
                                                    譬如說，一般衹能抓到一些常見的文法句型錯誤，而對文章的組織及內容，文句的意思以及用字遣詞斟酌通常都不太容易判斷。
                                                    各個先進國家都對這方面有相當的研究，但目前來說準確率大概都在四，五成。
                                                    清華大學資訊工程系目前所開發出來的工具，大概主要可以針對一般程度高中生提供相當的幫助。
                                                    對於學生常見的一些寫作錯誤，確實有相當的幫助，但也希望各位不要期望過高，誤以為此工具可以找到所有的錯誤。
                                                    本系統所提供的評分也是請作為參考，最重要的是能夠提供學習著一些文法錯誤的糾正。謝謝各位的支持與理解。
                                                  </p>
                                                </div>
                                            </div>
                                            <div>
                                                <div></div>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div></div>
                <div></div>
                <div>
                </div>
           
       
   
    </div>
    </div>
    </div>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/skel.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/work.js' %}"></script>
        <script src="{% static 'js/bar.js' %}"></script>




</body>

</html>
