{% load static %}
<!DOCTYPE HTML>
<html style="height:100%;">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#da532c" />
  
    <meta name="application-name" content="GEC" />
    <title>GEC Cool English</title>
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/work.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bar.css' %}" />

</head>

<body  class="editorTs">
    {% csrf_token %}
    <div id="page" style="height:100%;">
                    <div class="_de91e2-dropZoneElement" >
                        <div class="_de91e2-dropzone">
                            <div class="_de91e2-dropzoneMiddleblock">Drop a text file here</div>
                        </div>
                    </div>
                    <div class="content fs-hide">
                        <div data-name="doc-toolbar" class="_747451-toolbar">
                            
                            <div class="_747451-item submit-btn">
                                <div id = "bar2_colr" class="_bar _ba2"></div>
                                <div class="_747451-menuBlock _747451-noWrap">
                                    <div class="_747451-toolItem _work">批改</div>
                                </div> 
                            </div>
                            
                           
                        </div>


                    <div class="_a51a502a-editor-page-editor"  >
                       
                            <div class="_af1f0d33-editor-page-scrollWrap" >
                                <div style="height:100%">
                                    
                                        <div class="editorLayout" style="height:100%;">
                                            <div id="editorWrapper" class="editorCol" >
                                                <textarea id="textarea" class="textarea" spellcheck="false" style="overflow:scroll" placeholder="Type or paste (⌘V) your text here."></textarea>
                                            </div>
                                            <div class="editorCol">
                                                <div class="bold">批改建議</div>
                                                <div id="suggestion-area"><span class="small">← 按下左側勾勾取得批改建議...</span></div>
                                                <div class="bold">評分預測&nbsp;<span class="score warning"></span> </div>
                                            </div>
                                            <div>
                                                <div></div>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div></div>
                <div></div>
                <div>
                </div>
           
       
   
    </div>
    </div>
    </div>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/skel.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/work.js' %}"></script>
        <script src="{% static 'js/bar.js' %}"></script>




</body>

</html>
